<mat-toolbar color="primary" class="nav-bg" style="z-index: -1;"></mat-toolbar>
<mat-toolbar color="primary" class="container" style="margin: 0 auto;">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="view-desktop">
            <span routerLink="/about" routerLinkActive="active">About</span>
            <span routerLink="/projects">Projects</span>
            <span routerLink="/skills">Skills</span>
            <span routerLink="/contact">Contact</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
