<footer>
  <div *ngIf="router.url!='/contact'" class="social-links">
    <a href="mailto:stroebele.j@gmail.com">
      <img alt="Link to email"
           src="assets/social-icon-email.png" width="24"></a>
    <a href="https://github.com/johannesstroebele91/">
      <img alt="Link to my GitHub page"
           src="assets/social-icon-github.png" width="24"></a>
    <a href="https://www.xing.com/profile/Johannes_Stroebele">
      <img alt="Link to my Xing page"
           src="assets/social-icon-xing.png" width="24"></a>
    <a href="https://www.linkedin.com/in/johannes-stroebele/">
      <img alt="Link to my LinkedIn page"
           src="assets/social-icon-linkedin.png" width="24"></a>
    <hr style="width: 1px; height: 120px; background: white; border: none;"/>
  </div>
  <div *ngIf="router.url!='/contact'" class="footer-highlight">
    <h2 style="font-size: 1.2em; text-align: center;">Interested in working together?</h2>
    <button color="primary" mat-raised-button routerLink="/contact"
            style="text-align: center; display: inline-block">Get In Touch
    </button>
  </div>
  <div *ngIf="router.url!='/contact'" class="arrow-upward">
    <a (click)="onClick('top')">
      <img alt="Go to top of the page"
           src="assets/arrow-upward.png" width="24"></a>
    <hr style="width: 1px; height: 90px; background: white; border: none;"/>
  </div>
  <div>
    <ul class="links-legal-data">
      <li><a [routerLinkActiveOptions]="{exact: true}" routerLink="/legal" routerLinkActive="is-active-legal-data"
             tabindex="0">Legal disclosure</a></li>
      <li><a [routerLinkActiveOptions]="{exact: true}" routerLink="/data" routerLinkActive="is-active-legal-data"
             tabindex="0">Data protection declaration</a></li>
    </ul>
    <div *ngIf="router.url!='/contact'" class="social-links-middle">
      <a href="mailto:stroebele.j@gmail.com">
        <img alt="Link to email"
             src="assets/social-icon-email.png" width="24"></a>
      <a href="https://github.com/johannesstroebele91/">
        <img alt="Link to my GitHub page"
             src="assets/social-icon-github.png" width="24"></a>
      <a href="https://www.xing.com/profile/Johannes_Stroebele">
        <img alt="Link to my Xing page"
             src="assets/social-icon-xing.png" width="24"></a>
      <a href="https://www.linkedin.com/in/johannes-stroebele/">
        <img alt="Link to my LinkedIn page"
             src="assets/social-icon-linkedin.png" width="24"></a>
    </div>
    <ul style="text-align: center;">
      <li>© {{ currentYear }} Johannes Ströbele, <span style="white-space: nowrap;">all rights reserved</span></li>
      <li>Made with love in <span style="white-space: nowrap;">Stuttgart, Germany</span></li>
      <li (click)="onClick('top')">
        <img alt="This website was made with love in Stuttgart" src="assets/stuttgart.png"
             tabindex="-1"
             width="66">
      </li>
    </ul>
  </div>
</footer>
