<footer>
    <div *ngIf="router.url!='/contact'" class="social-links my-4">
        <a href="mailto:stroebele.j@gmail.com">
            <img alt="Link to email"
                 src="assets/social-icon-email.png" width="24"></a>
        <a class="mt-2" href="https://github.com/johannesstroebele91/">
            <img alt="Link to my GitHub page"
                 src="assets/social-icon-github.png" width="24"></a>
        <a class="mt-2" href="https://angel.co/u/johannes-stroebele">
            <img alt="Link to my Angel page"
                 src="assets/social-icon-angel.png" width="24"></a>
        <a class="mt-2" href="https://www.xing.com/profile/Johannes_Stroebele">
            <img alt="Link to my Xing page"
                 src="assets/social-icon-xing.png" width="24"></a>
        <a class="mt-2 mb-3" href="https://www.linkedin.com/in/johannes-stroebele/">
            <img alt="Link to my LinkedIn page"
                 src="assets/social-icon-linkedin.png" width="24"></a>
        <hr style="width: 1px; height: 120px; background: white; border: none;"/>
    </div>
    <mat-card *ngIf="router.url!='/contact'">
        <h2 class="my-3" style="font-size: 1.2em;">Interested in working together?</h2>
        <button class="my-3" color="primary" mat-raised-button routerLink="/contact">Get In Touch</button>
    </mat-card>
    <div *ngIf="router.url!='/contact'" class="arrow-upward">
        <a (click)="onClick('top')" class="mb-3">
            <img alt="Go to top of the page"
                 src="assets/arrow-upward.png" width="24"></a>
        <hr style="width: 1px; height: 90px; background: white; border: none;"/>
    </div>
    <div>
        <ul class="links-legal-data" fxLayout="row" fxLayoutAlign="space-evenly center">
            <li><a [routerLinkActiveOptions]="{exact: true}" routerLink="/legal" routerLinkActive="is-active-legal-data"
                   tabindex="0">Legal disclosure</a></li>
            <li><a [routerLinkActiveOptions]="{exact: true}" routerLink="/data" routerLinkActive="is-active-legal-data"
                   tabindex="0">Data protection declaration</a></li>
        </ul>
        <div *ngIf="router.url!='/contact'" class="social-links-middle">
            <a href="mailto:stroebele.j@gmail.com">
                <img alt="Link to email"
                     src="assets/social-icon-email.png" width="24"></a>
            <a class="mt-2" href="https://github.com/johannesstroebele91/">
                <img alt="Link to my GitHub page"
                     src="assets/social-icon-github.png" width="24"></a>
            <a class="mt-2" href="https://angel.co/u/johannes-stroebele">
                <img alt="Link to my Angel page"
                     src="assets/social-icon-angel.png" width="24"></a>
            <a class="mt-2" href="https://www.xing.com/profile/Johannes_Stroebele">
                <img alt="Link to my Xing page"
                     src="assets/social-icon-xing.png" width="24"></a>
            <a class="mt-2" href="https://www.linkedin.com/in/johannes-stroebele/">
                <img alt="Link to my LinkedIn page"
                     src="assets/social-icon-linkedin.png" width="24"></a>
        </div>
        <ul class="mt-4" style="text-align: center;">
            <li>© 2020 Johannes Ströbele, <span style="white-space: nowrap;">all rights reserved</span></li>
            <li>Made with love in <span style="white-space: nowrap;">Stuttgart, Germany</span></li>
            <li (click)="onClick('top')" class="mt-4">
                <img alt="This website was made with love in Stuttgart" src="assets/stuttgart.png"
                     tabindex="-1"
                     width="66">
            </li>
        </ul>
    </div>
</footer>
