@import "../../../variables";

footer {
  margin-top: 60px;
  padding: 0 3% 30px 3%;
}

.mat-card {
  text-align: center;
  position: relative;
  border-radius: 6px;
  max-width: 660px;
  margin: 24px auto;
  background: map-get($custom-palette, √) !important;
}

.links-legal-data {
  margin: 24px auto !important;
  max-width: 600px;
}
.links-legal-data li {
  white-space: nowrap;
}

.is-active-legal-data {
  text-decoration: underline;
}
.social-links-middle > a {
  padding: 15px;
}
@media (max-width: 1139.89px) {
  .arrow-upward, .social-links-left {
    display: none;
  }
}

@media (min-width: 1140px) {
  .social-links-left, .arrow-upward {
    position: fixed;
    bottom: 0;
    left:50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }
  .arrow-upward {
    margin-left: 509px;
  }
  .social-links-left {
    margin: 0 0 0 -540px !important;
  }
}
