@import "../../../variables";

footer {
  margin-top: 60px;
  padding: 0 3% 30px 3%;
}

.mat-card {

  text-align: center;
  position: relative;
  border-radius: 6px;
  max-width: 660px;
  margin: 24px auto;
}

.links-legal-data {
  margin: 24px auto !important;
  max-width: 600px;
}
.links-legal-data li {
  white-space: nowrap;
}

.is-active-legal-data {
  text-decoration: underline;
}

@media (max-width: 1139.89px) {
  .arrow-upward {
    display: none;
  }
    .social-links, .arrow-upward {
    text-align: center;
    margin: 12px 24px;
  }
  .social-links > a {
    padding: 6px 6px;
    margin: 0 6px;
  }
  .social-links > hr, .arrow-upward > hr {
    display: none;
  }
}

@media (min-width: 1140px) {
  .social-links, .arrow-upward {
    position: fixed;
    bottom: 0;
    left:50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }
  .arrow-upward {
    margin-left: 528px;
  }
  .social-links {
    margin-left: -540px;
  }
}
