<!-- Introduction -->
<div class="hero-section">
    <section>
        <div class="container-with-elements">
            <div class="container-text-img">
                <h1>Say hi!</h1>
                <p class="runningtext-maxwidth my-3">Do you need support developing an business application or just
                    want to get in touch?
                    Then contact me via one of these options:</p>
                <ul class="contact-options my-3">
                    <li><a href="mailto:stroebele.j@gmail.com">
                        <img alt="Link to email"
                             src="assets/social-icon-email.png" width="30" height="30"> stroebele.j@gmail.com</a></li>
                    <li><a class="mt-2" href="https://github.com/johannesstroebele91/">
                        <img alt="Link to my GitHub page"
                             src="assets/social-icon-github.png" width="30" height="30"> GitHub</a></li>
                    <li><a class="mt-2" href="https://angel.co/u/johannes-stroebele">
                        <img alt="Link to my Angel page"
                             src="assets/social-icon-angel.png" width="30" height="30"> Angel</a></li>
                    <li><a href="https://www.xing.com/profile/Johannes_Stroebele">
                        <img alt="Link to my Xing page"
                             src="assets/social-icon-xing.png" width="30" height="30"> Xing</a></li>
                    <li><a href="https://www.linkedin.com/in/johannes-stroebele/">
                        <img alt="Link to my LinkedIn page"
                             src="assets/social-icon-linkedin.png" width="30" height="30"> LinkedIn</a></li>
                </ul>
            </div>
            <img alt="Profile picture of Johannes Ströbele" height="300"
                 src="assets/profile-picture.png">
        </div>
    </section>
</div>
