<!-- Introduction -->
<div class="hero-section">
    <section>
        <div class="container-with-elements">
            <div class="container-text-img">
                <h1>Say hi!</h1>
                <p class="runningtext-maxwidth my-3">If you need support developing your enterprise application or just want to get in touch,
                    contact me via my social media below or...</p>
                <button routerLink="contact" class="button-hero-desktop my-3" mat-raised-button color="primary">
                    Email Me
                </button>
            </div>
            <img src="../../../assets/profile-picture.png" alt="Profile picture of Johannes Ströbele"
                 height="300">
        </div>
        <button routerLink="contact" class="button-hero-mobile my-3" mat-raised-button color="primary">
            Email Me
        </button>
    </section>
</div>

<section class="contact-information">
    <h2 style="text-align: center;">How you can contact me</h2>
    <div class="container-with-elements" style="align-items: baseline;">
        <div>
            <h3>Address</h3>
            <ul>
                <li>Johannes Ströbele</li>
                <li>Street number and name: upon request</li>
                <li>Stuttgart, 70569</li>
                <li>Germany</li>
                <li>Telephone number: upon request</li>
            </ul>
        </div>
        <div>
            <h3>Social Profiles</h3>
            <ul class="social-profiles">
                <li><a target="_blank" tabindex="0" href="https://github.com/johannesstroebele91">
                    <img src="../../../assets/social-icon-github.png" width="24" alt="Link to my GitHub page">
                    <span>GitHub</span></a>
                </li>
                <li><a target="_blank" tabindex="0" href="https://angel.co/u/johannes-stroebele">
                    <img src="../../../assets/social-icon-angel.png" width="24" alt="Link to my Angel page">
                    <span>Angel</span></a>
                </li>
                <li><a target="_blank" tabindex="0" href="https://www.instagram.com/travelwithjoe/">
                    <img src="../../../assets/social-icon-insta.png" width="24" alt="Link to my Instagram page">
                    <span>Instagram</span></a>
                </li>
                <li><a target="_blank" tabindex="0" href="https://www.xing.com/profile/Johannes_Stroebele">
                    <img src="../../../assets/social-icon-xing.png" width="24" alt="Link to my Xing page">
                    <span>Xing</span></a>
                </li>
                <li><a target="_blank" tabindex="0" href="https://linkedin.com/in/johannes-stroebele">
                    <img src="../../../assets/social-icon-linkedin.png" width="24"
                         alt="Link to my LinkedIn page">
                    <span>LinkedIn</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
