<!-- Article -->
<div class="griditem first">
    <h1>Say hi!</h1>
    <h2>Contact me if you want support for creating business applications:</h2>
    <ul>
        <li>Full Stack Development</li>
        <li>Backend development (Java, Go)</li>
        <li>Frontend development (JavaScript, TypeScript)</li>
    </ul>
    <p></p>
</div>
<div class="griditem second ">
    <img id="introductionimg" src="../images/profile-picture.png" alt="Profile picture of Johannes Ströbele"
         height="200" width="200">
</div>

<div class="textwidth">
    <h2>Contact information</h2>
    <img src="../images/information.png" width="240" title="information on red background" alt="Information about me">

    <ul>
        <li><a href="mailto:stroebele.j@gmail.com">stroebele.j@gmail.com</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/johannes-stroebele/">LinkedIn</a></li>
        <li><a target="_blank" href="https://www.xing.com/profile/Johannes_Stroebele">Xing</a></li>
    </ul>
</div>
