<!-- introduction -->
<div class="griditem first" id="#top">
    <h1>Abilities</h1>
    <h2>This score shows my experience in software development, design, and research</h2>
    <p>The maximum score for each field is 10</p>
    <div id="introductionbutton">
        <a name="visit-homepage" tabindex="0" href="contact.html">WORK WITH ME</a>
    </div>
</div>
<div class="griditem second">
    <img id="introductionimg" src="../images/score.png" alt="Ability score of Johannes Ströbele"
         height="200" width="200">
</div>

<!-- Skills -->
<div class="griditemtop first">
    <img class="sectionicons" src="../images/front-end-dev.png" alt="My ability of front-end development"
         height="384" width="512">
    <h3 class="headingcenter"><b>BACK-END DEVELOPMENT</b></h3>
    <p class="gridtextcenter">Programming the necessary functionality for the software (SQL, C, C++).</p>
    <div class="divscore">6</div>
</div>
<div class="griditemtop second">
    <img class="sectionicons" src="../images/back-end-dev.png" alt="My ability of front-end development"
         height="384" width="512">
    <h3 class="headingcenter"><b>FRONT-END DEVELOPMENT</b></h3>
    <p class="gridtextcenter">Coding the user interface of the software (HTML, CSS, JavaScript).</p>
    <div class="divscore">8</div>
</div>

<div class="griditemtop first">
    <img class="sectionicons" src="../images/ux-research.png" alt="My ability of UX research" height="384"
         width="512">
    <h3 class="headingcenter"><b>USER RESEARCH</b></h3>
    <p class="gridtextcenter">Understanding the target group in order to create a better user experience (e.g.
        usability tests, surveys, interviews)</p>
    <div class="divscore">8</div>
</div>
<div class="griditemtop second">
    <img class="sectionicons" src="../images/ux-design.png" alt="My ability of UX design" height="384" width="512">
    <h3 class="headingcenter"><b>UX DESIGN</b></h3>
    <p class="gridtextcenter">Creating a concept based on research that satisfies the need of users (e.g. fun,
        security, autonomy)</p>
    <div class="divscore">8</div>
</div>

<div class="griditemtop first">
    <img class="sectionicons" src="../images/interaction-design.png" alt="My ability of interaction design"
         height="384" width="512">
    <h3 class="headingcenter"><b>INTERACTION DESIGN</b></h3>
    <p class="gridtextcenter">Improving the interaction between users and the software (e.g. simplification)</p>
    <div class="divscore">6</div>
</div>
<div class="griditemtop second">
    <img class="sectionicons" src="../images/visual-design.png" alt="My ability of visual design" height="384"
         width="512">
    <h3 class="headingcenter"><b>VISUAL DESIGN</b></h3>
    <p class="gridtextcenter">Improving the aesthetics of the design perceived by users (e.g. typografy, space,
        illustrations)</p>
    <div class="divscore">6</div>
</div>
