<!-- Introduction -->
<div class="hero-section">
  <section>
    <div class="container-with-elements">
      <div class="container-text-img">
        <h1>This is me</h1>
        <p style="text-align: justify;">
          I'm a full stack developer with a passion for user-centric frontend experiences. My favorite tech stack is
          Angular and Java Spring Boot. Stuttgart Germany, is where I call home.
          Currently, I'm developing business applications at bridgingIT. Outside of work, I enjoy a good book,
          discover new cultures while traveling with friends, and keeping fit through sports.</p>
        <p style="font-weight: 500; margin-top: 20px">On this page, you can view my:</p>
        <ol class="anchor-links">
          <li><a (click)="onClick('company')" tabindex="0">Company Experiences</a></li>
          <li><a (click)="onClick('academic')" tabindex="0">Academic Experiences</a></li>
          <li><a (click)="onClick('others')" tabindex="0">Other Experiences</a></li>
          <li><a (click)="onClick('recommendations')" tabindex="0">Recommendations</a></li>
        </ol>
      </div>
      <img alt="Profile picture of Johannes Ströbele" height="300"
           src="assets/profile-picture.png">
    </div>
  </section>
</div>

<!-- 1. Company experiences -->
<section id="company">
  <h2>Company Experiences</h2>
  <table class="mat-card">
    <tr id="bridgingit">
      <td class="td-first">10/2024 – today</td>
      <td class="td-second"><b>Full-stack developer <a href="https://www.bridging-it.de/"
                                                       tabindex="0"
                                                       target="_blank">BridgingIT GmbH</a>, Stuttgart</b>
        <ul class="ul-bullets">
          <li>Development and design of a cloud application in the education sector within a SCRUM team.
          </li>
          <li>Angular, Kendo UI, TypeScript, SCSS, Spring Boot, Figma.
          </li>
          <li>Creation of a design system to accelerate the design-to-development process using the Figma Kendo UI
            Kit.
          </li>
          <li>Implementation of end-to-end tests with Playwright, including authentication via Azure AD.</li>
          <li>Support of knowledge sharing through technical talks and discussion sessions.</li>
        </ul>
      </td>
    </tr>
    <tr id="sulzer">
      <td class="td-first">04/2021 – 09/2024</td>
      <td class="td-second"><b>Full-stack developer <a href="https://www.sulzer.de/"
                                                       tabindex="0"
                                                       target="_blank">Sulzer GmbH</a>, Stuttgart</b>
        <ul class="ul-bullets">
          <li>Development of a cloud application with tests for detecting software defects in vehicle
            prototypes in a SCRUM team using Jira from Atlassian
          </li>
          <li>React, TypeScript, SCSS, AG Grid, Apollo, GraphQL, Express, Node.js,
            MongoDB, Jest.
          </li>
          <li>Apprentice supervisor for Angular (Material UI), TypeScript, HTML, SCSS</li>
        </ul>
      </td>
    </tr>
    <tr id="daimlertss">
      <td class="td-first">03/2020 – 05/2020</td>
      <td class="td-second"><b>Full-stack development intern at <a
        href="https://www.mercedes-benz-techinnovation.com/de//"
        tabindex="0"
        target="_blank">Mercedes-Benz Tech Innovation (former Daimler
        TSS
        GmbH)</a>, Munich</b>
        <ul class="ul-bullets">
          <li>Development of a web application for recalculating vehicle contracts in a SCRUM team using Jira
            from Atlassian.
          </li>
          <li>Angular (Material UI), TypeScript, SCSS, HTML, Kotlin, Spring Boot.</li>
          <li>Implementing Angular components with methods such as data binding, dependency injection,
            routing, services, and observables.
          </li>
        </ul>
      </td>
    </tr>
    <tr id="btelligent">
      <td class="td-first">07/2019 – 09/2019</td>
      <td class="td-second"><b>Full-stack development intern at <a href="https://www.btelligent.com/"
                                                                   tabindex="0"
                                                                   target="_blank">b.telligent
        GmbH</a>, Munich</b>
        <ul class="ul-bullets">
          <li>Development of the admin area for a time tracking web application.
          </li>
          <li>Angular (Material UI), TypeScript, SCSS, HTML, Java, Spring Boot.</li>
          <li>Specification of the technical requirements and the software architecture.
          </li>
        </ul>
      </td>
    </tr>
    <tr id="ixd-group">
      <td class="td-first">03/2018 – 09/2018</td>
      <td class="td-second"><b>UX Research assistant at <a
        href="https://www.hdm-stuttgart.de/hochschule/forschung/forschungsschwerpunkte/information_experience"
        tabindex="0"
        target="_blank">IXD
        Research Group</a>, Stuttgart</b>
        <ul class="ul-bullets">
          <li>Supporting the creation of guidelines for 3D software.</li>
          <li>Conception and conduction of usability tests to optimize a VR application.</li>
        </ul>
      </td>
    </tr>
    <tr id="celonis-ux-research">
      <td class="td-first">02/2018 – 3/2018</td>
      <td class="td-second"><b>Internship in UX Research at <a href="https://www.celonis.com/" tabindex="0"
                                                               target="_blank">Celonis</a>,
        Munich</b>
        <ul class="ul-bullets">
          <li>Development of a conceptual model to improve the user experience of the process mining
            software.
          </li>
          <li>Setting up a web analytics solution to track the user experience with 25 quantitative metrics.
          </li>
        </ul>
      </td>
    </tr>
    <tr id="celonis-ux-design">
      <td class="td-first">08/2017 – 10/2017</td>
      <td class="td-second"><b>Internship in UX Design at <a href="https://www.celonis.com/" tabindex="0"
                                                             target="_blank">Celonis</a>,
        Munich</b>
        <ul class="ul-bullets">
          <li>Creating responsive design components and layouts for the process mining software with Sketch.
          </li>
          <li>Conducting online surveys, usability tests, and interviews to identify the needs of customers.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="td-first">11/2016 – 11/2017</td>
      <td class="td-second"><b>Product manager (voluntary) at <a href="http://www.startmunich.de/" tabindex="0"
                                                                 target="_blank">START Munich</a></b>
        <ul class="ul-bullets">
          <li>Redesign of the website with Sketch and WordPress.</li>
          <li>Conception, planning and organization of a startup pitch event, brainstorming sessions, and a
            startup tour.
          </li>
        </ul>
      </td>
    </tr>
  </table>
</section>

<!-- 2. Academic experience -->
<section id="academic">
  <h2>Academic experiences</h2>
  <table class="mat-card">
    <tr>
      <td class="td-first">10/2017 – 02/2021</td>
      <td class="td-second"><b>Information Design,
        Stuttgart Media University</b>
        <ul class="ul-bullets">
          <li>Academic degree: Bachelor of Arts</li>
          <li>Grade average: 1.4</li>
          <li>Thesis: Interaction between business users and artificial intelligence enhanced business applications
          </li>
          <li>Semester representative (voluntary)</li>
        </ul>
      </td>
    </tr>
    <tr class="single">
      <td class="td-first">03/2019 – 06/2019</td>
      <td class="td-second"><b>Semester
        abroad during studies at the Stuttgart Media University, Dongguk University, Seoul</b>
      </td>
    </tr>
    <tr>
      <td class="td-first">08/2011 – 09/2016</td>
      <td class="td-second"><b>Business
        Administration, University of Augsburg</b>
        <ul class="ul-bullets">
          <li>Academic degree: Bachelor of Science</li>
          <li>Study focus: Strategy & Marketing</li>
          <li>Thesis: Consumer Behaviour in Mobile Channels: a Literature Review and Conceptual Framework</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="td-first">08/2015 – 12/2015</td>
      <td class="td-second"><b>Semester
        abroad during studies at the University of Augsburg, Hankuk University of Foreign Studies, Seoul</b>
      </td>
    </tr>
  </table>
</section>

<!-- 3. Other qualifications -->
<section id="others">
  <h2>Other Experiences</h2>
  <table class="mat-card">
    <tr>
      <td class="td-first">Certificates</td>
      <td class="td-second">
        <ul class="ul-bullets">
          <li>Angular Udemy Course - The Complete Guide (Maximilian Schwarzmüller) - <a
            href="https://www.udemy.com/certificate/UC-b02e8d77-159c-4747-943f-e3562bd42861/" rel="noopener noreferrer"
            style="cursor: pointer" target="_blank">view</a></li>
          <li>React Udemy Course - The Complete Guide (Maximilian Schwarzmüller) - <a
            href="https://www.udemy.com/certificate/UC-52b7d347-43e1-4318-8b56-792d81a724ab/" rel="noopener noreferrer"
            style="cursor: pointer" target="_blank">view</a></li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="td-first">Language Skills</td>
      <td class="td-second">
        <ul class="ul-bullets">
          <li>German - native speaker</li>
          <li>English - TOEFL
            iBT score: 102 / 120
          </li>
          <li>Japanese - basic communication skills</li>
          <li>Korean - basic communication skills</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="td-first">Hobbies</td>
      <td class="td-second">
        <ul class="ul-bullets">
          <li>Reading</li>
          <li>Cooking</li>
          <li>Fitness</li>
          <li>Drawing</li>
        </ul>
      </td>
    </tr>
  </table>
</section>

<!-- 4. Recommendations -->
<section class="section-recommendations" id="recommendations">
  <h2>Recommendations</h2>
  <p>The quotes from my colleagues were taken from
    my
    <a href="https://www.linkedin.com/in/johannes-stroebele/">LinkedIn page</a>.</p>
  <div class="container-with-elements">
    <mat-card>
      <h3>Tim Stefany</h3>
      <h4>Machine Learning Engineer</h4>
      <img alt="Recommendation Tim Stefany" class="img-recommendation"
           src="assets/recommender-timstefany.png">
      <p class="runningtext-maxwidth">"Having Johannes as a full stack developer in our
        data science project was great! Whether it was the deployment of our dashboard via Google Cloud,
        issues with the Python Flask backend, setting up the frontend, or our managing our PostgreSQL database,
        Johannes was always up to the task."</p>
    </mat-card>
    <mat-card>
      <h3>Faruk Toy</h3>
      <h4>Data Scientist</h4>
      <img alt="Recommendation Faruk Toy" class="img-recommendation"
           src="assets/recommender-faruktoy.png">
      <p class="runningtext-maxwidth">"Johannes is very talented and skilled. He has great ideas and
        he is able to make them work. He is very dependable and it was a pleasure to work with him.
        Johannes has certainly great entrepreneurial spirit."</p>
    </mat-card>
    <mat-card>
      <h3>Raphael Fleckenstein</h3>
      <h4>CEO at Productlane</h4>
      <img alt="Recommendation Raphael Fleckenstein" class="img-recommendation"
           src="assets/recommender-raphaelfleckenstein.png">
      <p class="runningtext-maxwidth">"I had the pleasure of working with Johannes at START Munich,
        a startup student club at the TU Munich. He has optimized the web appearance,
        build up the online marketing, and organized several successful events.
        Johannes impressed me with his great motivation and project management skills."</p>
    </mat-card>
  </div>
</section>
