<!-- Introduction -->
<div class="hero-section">
  <section>
    <div class="container-with-elements">
      <div class="container-text-img">
        <h1>This is me</h1>
        <p style="text-align: justify;">I am a full stack cloud developer living in Stuttgart, Germany.
          At present, I am working at Sulzer GmbH.
          In my free time, I like to read, try out new restaurants with friends, and do sports.</p>
        <p style="font-weight: 500; margin-top: 20px">On this page, you can view my:</p>
        <ol class="anchor-links">
          <li><a (click)="onClick('company')" tabindex="0">Company Experiences</a></li>
          <li><a (click)="onClick('academic')" tabindex="0">Academic Experiences</a></li>
          <li><a (click)="onClick('others')" tabindex="0">Other Experiences</a></li>
        </ol>
      </div>
      <img alt="Profile picture of Johannes Ströbele" height="300"
           src="assets/profile-picture.png">
    </div>
  </section>
</div>

<!-- 1. Company experiences -->
<section id="company">
  <h2>Company Experiences</h2>
  <table class="mat-card">
    <tr id="sulzer">
      <td class="td-first">04/2021 – today</td>
      <td class="td-second"><b>Full-stack cloud developer <a href="https://www.sulzer.de/"
                                                             tabindex="0"
                                                             target="_blank">Sulzer GmbH</a>, Stuttgart</b>
        <ul class="ul-bullets">
          <li>Development of a cloud application with tests for detecting software defects in vehicle
            prototypes in a SCRUM team using Jira from Atlassian
          </li>
          <li>React, Angular, TypeScript, SCSS, AG Grid, Apollo, GraphQL, Express, Node.js,
            MongoDB, Jest
          </li>
        </ul>
      </td>
    </tr>
    <tr id="daimlertss">
      <td class="td-first">03/2020 – 05/2020</td>
      <td class="td-second"><b>Full-stack development intern for the <a
        href="https://www.mercedes-benz-techinnovation.com/de//"
        tabindex="0"
        target="_blank">Mercedes-Benz Tech Innovation (former Daimler
        TSS
        GmbH)</a>, Munich</b>
        <ul class="ul-bullets">
          <li>Development of a web application for recalculating vehicle contracts in a SCRUM team using Jira
            from Atlassian
          </li>
          <li>Implementing Angular components with methods such as data binding, dependency injection,
            routing, services, and observables
          </li>
          <li>Angular (Material UI), TypeScript, SCSS, HTML, Kotlin, Spring Framework</li>
        </ul>
      </td>
    </tr>
    <tr id="btelligent">
      <td class="td-first">07/2019 – 09/2019</td>
      <td class="td-second"><b>Full-stack development intern for the <a href="https://www.btelligent.com/"
                                                                        tabindex="0"
                                                                        target="_blank">b.telligent
        GmbH</a>, Munich</b>
        <ul class="ul-bullets">
          <li>Specification of the technical requirements and the software architecture
          </li>
          <li>Development of the admin area for a time tracking web application
          </li>
          <li>Angular (Material UI), TypeScript, SCSS, HTML, Java, Spring Framework</li>
        </ul>
      </td>
    </tr>
    <tr id="ixd-group">
      <td class="td-first">03/2018 – 09/2018</td>
      <td class="td-second"><b>UX Research assistant for the <a
        href="https://www.hdm-stuttgart.de/hochschule/forschung/forschungsschwerpunkte/information_experience"
        tabindex="0"
        target="_blank">IXD
        Research Group</a>, Stuttgart</b>
        <ul class="ul-bullets">
          <li>Supporting the creation of guidelines for 3D software</li>
          <li>Conception and conduction of usability tests to optimize a VR application</li>
        </ul>
      </td>
    </tr>
    <tr id="celonis-ux-research">
      <td class="td-first">02/2018 – 3/2018</td>
      <td class="td-second"><b>Internship in UX Research at <a href="https://www.celonis.com/" tabindex="0"
                                                               target="_blank">Celonis</a>,
        Munich</b>
        <ul class="ul-bullets">
          <li>Development of a conceptual model to improve the user experience of the process mining
            software
          </li>
          <li>Setting up a web analytics solution to track the user experience with 25 quantitative metrics
          </li>
        </ul>
      </td>
    </tr>
    <tr id="celonis-ux-design">
      <td class="td-first">08/2017 – 10/2017</td>
      <td class="td-second"><b>Internship in UX Design at <a href="https://www.celonis.com/" tabindex="0"
                                                             target="_blank">Celonis</a>,
        Munich</b>
        <ul class="ul-bullets">
          <li>Creating responsive design components and layouts for the process mining software with Sketch
          </li>
          <li>Conducting online surveys, usability tests, and interviews to identify the needs of customers
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="td-first">11/2016 – 11/2017</td>
      <td class="td-second"><b>Product manager (voluntary) at <a href="http://www.startmunich.de/" tabindex="0"
                                                                 target="_blank">START Munich</a></b>
        <ul class="ul-bullets">
          <li>Redesign of the website with Sketch and WordPress</li>
          <li>Conception, planning and organization of a startup pitch event, brainstorming sessions, and a
            startup tour
          </li>
        </ul>
      </td>
    </tr>
  </table>
</section>

<!-- 2. Academic experience -->
<section id="academic">
  <h2>Academic experiences</h2>
  <table class="mat-card">
    <tr>
      <td class="td-first">10/2017 – 02/2021</td>
      <td class="td-second"><b>Information Design,
        Stuttgart Media University</b>
        <ul class="ul-bullets">
          <li>Academic degree: Bachelor of Arts</li>
          <li>Grade average: 1.4</li>
          <li>Thesis: Interaction between business users and artificial intelligence enhanced business applications
          </li>
          <li>Semester representative (voluntary)</li>
        </ul>
      </td>
    </tr>
    <tr class="single">
      <td class="td-first">03/2019 – 06/2019</td>
      <td class="td-second"><b>Semester
        abroad during studies at the Stuttgart Media University, Dongguk University, Seoul</b>
      </td>
    </tr>
    <tr>
      <td class="td-first">08/2011 – 09/2016</td>
      <td class="td-second"><b>Business
        Administration, University of Augsburg</b>
        <ul class="ul-bullets">
          <li>Academic degree: Bachelor of Science</li>
          <li>Study focus: Strategy & Marketing</li>
          <li>Thesis: Consumer Behaviour in Mobile Channels: a Literature Review and Conceptual Framework</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="td-first">08/2015 – 12/2015</td>
      <td class="td-second"><b>Semester
        abroad during studies at the University of Augsburg, Hankuk University of Foreign Studies, Seoul</b>
      </td>
    </tr>
  </table>
</section>

<!-- 3. Other qualifications -->
<section id="others">
  <h2>Other Experiences</h2>
  <table class="mat-card">
    <tr>
      <td class="td-first">Language Skills</td>
      <td class="td-second">
        <ul class="ul-bullets">
          <li>German - native speaker</li>
          <li>English - TOEFL
            iBT score: 102 / 120
          </li>
          <li>Japanese - basic communication skills</li>
          <li>Korean - basic communication skills</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="td-first">Hobbies</td>
      <td class="td-second">
        <ul class="ul-bullets">
          <li>Reading</li>
          <li>Cocking</li>
          <li>Fitness</li>
          <li>Drawing</li>
        </ul>
      </td>
    </tr>
  </table>
</section>
