<!-- Introduction -->
<div class="hero-section">
  <section>
    <div class="container-with-elements">
      <div class="container-text-img">
        <h1>Say hi!</h1>
        <p class="runningtext-maxwidth">Do you need support developing your application or just
          want to get in touch? Send me an email (clicking 'send email' will prompt your default email program to open,
          pre-filled with your specified email subject and body):</p>
        <form (ngSubmit)="onSubmit()" [formGroup]="emailForm">

          <mat-form-field appearance="fill" style="display: inline-block; width: 100%;">
            <mat-label style="color: #171f3e">Subject</mat-label>
            <input formControlName="subject" matInput required type="text">
            <mat-error *ngIf="emailForm.get('subject')?.hasError('required')">
              Topic is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" style="display: inline-block; width: 100%; ">
            <mat-label style="color: #171f3e">Body</mat-label>
            <textarea cdkAutosizeMinRows="3" cdkTextareaAutosize formControlName="body" matInput required></textarea>
            <mat-error *ngIf="emailForm.get('body')?.hasError('required')">
              Text is required
            </mat-error>
          </mat-form-field>

          <button color="primary" mat-raised-button type="submit">Send Email</button>

          <div *ngIf="isSubmitted">
            <mat-spinner *ngIf="isSubmitting" color="primary"></mat-spinner>
            <span *ngIf="isSuccess">Email sent successfully!</span>
            <span *ngIf="isError">Error sending email: {{ errorMessage }}</span>
          </div>
        </form>


        <p style="font-weight: 500; margin-top: 30px">Or contact me via one of these options:</p>
        <ul class="contact-options">
          <li><a href="mailto:stroebele.j@gmail.com">
            <img alt="Link to email"
                 height="30" src="assets/social-icon-email.png" width="30"> stroebele.j&#64;gmail.com</a></li>
          <li><a href="https://www.xing.com/profile/Johannes_Stroebele">
            <img alt="Link to my Xing page"
                 height="30" src="assets/social-icon-xing.png" width="30"> Xing</a></li>
          <li><a href="https://www.linkedin.com/in/johannes-stroebele/">
            <img alt="Link to my LinkedIn page"
                 height="30" src="assets/social-icon-linkedin.png" width="30"> LinkedIn</a></li>
        </ul>
      </div>
      <img alt="Profile picture of Johannes Ströbele" height="300"
           src="assets/profile-picture.png">
    </div>
  </section>
</div>
