<div class="running-text-width">
    <h1>Legal Disclosure </h1>
    <h2>Our legal disclosure is structured as follows:</h2>
    <ol>
        <li><a tabindex="0" class="anchor" href="#controllers">Information about controllers</a></li>
        <li><a tabindex="0" class="anchor" href="#datarights">Rights of users and subjects</a></li>
        <li><a tabindex="0" class="anchor" href="#data">Data processing</a></li>
    </ol>
</div>

<!-- 1. Information about us as controllers of your data -->
<div class="running-text-width">
    <h2>1. Information about us as controllers of your data</h2>
    <p>The party responsible for this website for purposes of data protection law is:</p>
    <img src="../images/information.png" width="240" title="information on red background"
         alt="Information about me">
</div>

<!-- 2. The rights of users and data subjects -->
<div class="running-text-width">
    <h2>2. The rights of users and data subjects</h2>
    <p>With regard to the data processing to be described in more detail below, users and data subjects have the
        right</p>
    <ul>
        <li class="ulbullets">to confirmation of whether data concerning them are being processed, information
            about the data being processed, further information about the nature of the data processing, and
            copies of the data (cf. also Art. 15 GDPR);
        </li>
        <li class="ulbullets">to correct or complete incorrect or incomplete data (cf. also Art. 16 GDPR);</li>
        <li class="ulbullets">to the immediate deletion of data concerning them (cf. also Art. 17 DSGVO), or,
            alternatively, if further processing is necessary as stipulated in Art. 17 Para. 3 GDPR, to restrict
            said processing per Art. 18 GDPR;
        </li>
        <li class="ulbullets">to receive copies of the data concerning them and/or provided by them and to have
            the same transmitted to other providers/controllers (cf. also Art. 20 GDPR);
        </li>
        <li class="ulbullets">to file complaints with the supervisory authority if they believe that data
            concerning them are being processed by the controller in breach of data protection provisions (see
            also Art. 77 GDPR).
        </li>
    </ul>
    <p>In addition, the controller is obliged to inform all recipients to whom it discloses data of any such
        corrections, deletions, or restrictions placed on processing the same per Art. 16, 17 Para. 1, 18 GDPR.
        However, this obligation does not apply if such notification is impossible or involves a
        disproportionate effort. Nevertheless, users have a right to information about these recipients.</p>
    <p><strong>Likewise, under Art. 21 GDPR, users, and data subjects have the right to object to the
        controller's future processing of their data pursuant to Art. 6 Para. 1 lit. f) GDPR. In particular, an
        objection to data processing for the purpose of direct advertising is permissible.</strong></p>
</div>

<!-- 3. Information about the data processing -->
<div class="running-text-width">
    <h2>3. Information about the data processing</h2>
    <p>Your data processed when using our website will be deleted or blocked as soon as the purpose for its
        storage ceases to apply, provided the deletion of the same is not in breach of any statutory storage
        obligations or unless otherwise stipulated below.</p>

    <p>Your data processed when using our website will be deleted or blocked as soon as the purpose for its
        storage ceases to apply, provided the deletion of the same is not in breach of any statutory storage
        obligations or unless otherwise stipulated below.</p>

    <h3>Server data</h3>
    <p>For technical reasons, the following data sent by your internet browser to us or to our server provider
        will be collected, especially to ensure a secure and stable website: These server log files record the
        type and version of your browser, operating system, the website from which you came (referrer URL), the
        web pages on our site visited, the date and time of your visit, as well as the IP address from which you
        visited our site.</p>
    <p>The data thus collected will be temporarily stored, but not in association with any other of your
        data.</p>
    <p>The basis for this storage is Art. 6 Para. 1 lit. f) GDPR. Our legitimate interest lies in the
        improvement, stability, functionality, and security of our website.</p>
    <p>The data will be deleted within no more than seven days unless continued storage is required for
        evidentiary purposes. In which case, all or part of the data will be excluded from deletion until the
        investigation of the relevant incident is finally resolved.</p>

    <h3>Cookies</h3>
    <h4>i. Session cookies</h4>
    <p>We use cookies on our website. Cookies are small text files or other storage technologies stored on your
        computer by your browser. These cookies process certain specific information about you, such as your
        browser, location data, or IP address. &nbsp;</p>
    <p>This processing makes our website more user-friendly, efficient, and secure, allowing us, for example, to
        display our website in different languages or to offer a shopping cart function.</p>
    <p>The legal basis for such processing is Art. 6 Para. 1 lit. b) GDPR, insofar as these cookies are used to
        collect data to initiate or process contractual relationships.</p>
    <p>If the processing does not serve to initiate or process a contract, our legitimate interest lies in
        improving the functionality of our website. The legal basis is then Art. 6 Para. 1 lit. f) GDPR.</p>
    <p>When you close your browser, these session cookies are deleted.</p>
    <h4>ii. Third-party cookies</h4>
    <p>If necessary, our website may also use cookies from companies with whom we cooperate for the purpose of
        advertising, analyzing, or improving the features of our website.</p>
    <p>Please refer to the following information for details, in particular for the legal basis and purpose of
        such third-party collection and processing of data collected through cookies.</p>
    <h4>iii. Disabling cookies</h4>
    <p>You can refuse the use of cookies by changing the settings on your browser. Likewise, you can use the
        browser to delete cookies that have already been stored. However, the steps and measures required vary,
        depending on the browser you use. If you have any questions, please use the help function or consult the
        documentation for your browser or contact its maker for support. Browser settings cannot prevent
        so-called flash cookies from being set. Instead, you will need to change the setting of your Flash
        player. The steps and measures required for this also depend on the Flash player you are using. If you
        have any questions, please use the help function or consult the documentation for your Flash player or
        contact its maker for support.</p>
    <p>If you prevent or restrict the installation of cookies, not all of the functions on our site may be fully
        usable.</p>

    <h3>Contact</h3>
    <p>If you contact us via email or the contact form, the data you provide will be used for the purpose of
        processing your request. We must have this data in order to process and answer your inquiry; otherwise,
        we will not be able to answer it in full or at all.</p>
    <p>The legal basis for this data processing is Art. 6 Para. 1 lit. b) GDPR.</p>
    <p>Your data will be deleted once we have fully answered your inquiry and there is no further legal
        obligation to store your data, such as if an order or contract resulted therefrom.</p>

    <h3>User posts, comments, and ratings</h3>
    <p>We offer you the opportunity to post questions, answers, opinions, and ratings on our website hereinafter
        referred to jointly as "posts." If you make use of this opportunity, we will process and publish your
        post, the date and time you submitted it, and any pseudonym you may have used.</p>
    <p>The legal basis for this is Art. 6 Para. 1 lit. a) GDPR. You may revoke your prior consent under Art. 7
        Para. 3 GDPR with future effect. All you have to do is inform us that you are revoking your consent.</p>
    <p>In addition, we will also process your IP address and email address. The IP address is processed because
        we might have a legitimate interest in taking or supporting further action if your post infringes the
        rights of third parties and/or is otherwise unlawful.</p>
    <p>In this case, the legal basis is Art. 6 Para. 1 lit. f) GDPR. Our legitimate interest lies in any legal
        defense we may have to mount.</p>

    <p><a tabindex="0" target="_blank"
          href="https://www.ratgeberrecht.eu/leistungen/muster-datenschutzerklaerung.html" target="_blank"
          rel="noopener">Model Data Protection Statement</a> for
        <a tabindex="0" href="https://www.ratgeberrecht.eu/" target="_blank">Anwaltskanzlei Weiß &amp;
            Partner</a></p>
</div>
