@import '../../../variables.scss';

.td-first {
  line-height: 1.6em !important;
  font-size: 1.1em !important;
  vertical-align: top;
  white-space: nowrap;
  font-weight: bolder;
  color: map-get($custom-palette, background-lightest);
}

.td-second {
  padding-left: 12px;
}

.ul-bullets {
  list-style-type: square !important;
  padding-left: 24px;
}

.section-skills > .container-with-elements > mat-card {
  padding-top: 30px;
  padding-bottom: 24px;
}

.section-skills .container-with-elements > * {
  text-align: center;
  flex-basis: 100%;
}

.section-skills h4 {
  margin: 30px 0 18px 0 !important;
  color: map-get($custom-palette, background-lightest) !important;
  font-weight: bold !important;
}

.section-skills .mat-icon {
  cursor: pointer;
  padding: 3px;
}

.skills-hr {
  width: 80%;
  height: 1px;
  background: map-get($custom-palette, background-lightest);
  border: none;
  margin: 0 auto;
}

.experiences {
  color: map-get($custom-palette, primary);
}
table {
  width: 100%;
  border-collapse: separate;
  padding: 30px 12px 21px 12px !important;
  background: map-get($custom-palette, background-dark);
  border-radius: 6px;
}

@media (max-width: 767.98px) {
  .section-skills .container-with-elements > * > img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .section-skills .container-with-elements > * > p {
    text-align: justify;
  }
  .td-first {
    margin-bottom: 24px;
  }
  td {
    display: block;
    margin-bottom: 18px;
  }
  .td-second {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .section-skills .container-with-elements {
    align-items: stretch;
  }
  .section-skills .container-with-elements > * > img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
