<!-- Introduction -->
<div class="hero-section">
    <section>
        <div class="container-with-elements">
            <div class="container-text-img">
                <h1>Who am I</h1>
                <p style="text-align: justify;">I am Johannes Ströbele and live in Stuttgart, Germany. I am a full stack
                    cloud developer
                    for enterprise applications. In my free time, I like to cook with friends,
                    do fitness workouts, draw skecthes, and read detective novels.</p>
                <ol class="anchor-links my-3">
                    <li><a tabindex="0" (click)="onClick('company')">Company experience</a></li>
                    <li><a tabindex="0" (click)="onClick('academic')">Academic experience</a></li>
                    <li><a tabindex="0" (click)="onClick('others')">Other qualification</a></li>
                </ol>
                <button (click)="openFile('stroebele_cv.pdf')" class="button-hero-desktop my-3" mat-raised-button
                        color="primary">
                    Open Curriculum Vitae
                </button>
            </div>
            <img src="../../../assets/profile-picture.png" alt="Profile picture of Johannes Ströbele"
                 height="300">
        </div>
        <button (click)="openFile('stroebele_cv.pdf')" class="button-hero-mobile my-3" mat-raised-button color="primary">
            Open Curriculum Vitae
        </button>
    </section>
</div>

<!-- 1. Company experiences -->
<section id="company">
    <h2>Company experiences</h2>
    <table>
        <tr id="daimlertss">
            <td class="td-first">07/2010 – 09/2019</td>
            <td class="td-second"><b>Full-stack development intern for the <a tabindex="0" target="_blank"
                                                                              href="https://www.btelligent.com/">Daimler
                TSS
                GmbH</a>, Munich</b>
                <ul class="ul-bullets">
                    <li>Development of a web application for recalculating vehicle contracts in a SCRUM team using Jira
                        from Atlassian
                    </li>
                    <li>Implementing Angular components with methods such as data binding, dependency injection,
                        routing, services, and observables
                    </li>
                    <li>Angular (Material UI), TypeScript, SCSS, HTML, Kotlin, Spring Framework</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="td-first">07/2010 – 09/2019</td>
            <td class="td-second"><b>Full-stack development intern for the <a tabindex="0" target="_blank"
                                                                              href="https://www.btelligent.com/">b.telligent
                GmbH</a>, Munich</b>
                <ul class="ul-bullets">
                    <li>Development of a web application for recalculating vehicle contracts in a SCRUM team using Jira
                        from Atlassian
                    </li>
                    <li>Implementing Angular components with methods such as data binding, dependency injection,
                        routing, services, and observables
                    </li>
                    <li>Angular (Material UI), TypeScript, SCSS, HTML, Kotlin, Spring Framework</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="td-first">03/2018 – 09/2018</td>
            <td class="td-second"><b>UX Research assistant for the <a tabindex="0" target="_blank"
                                                                      href="https://www.hdm-stuttgart.de/hochschule/forschung/forschungsschwerpunkte/information_experience">IXD
                Research Group</a>, Stuttgart</b>
                <ul class="ul-bullets">
                    <li>Support the creation of a guideline for 3D software</li>
                    <li>Conducting usability tests to optimize a VR app</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td id="celonis-ux-research" class="td-first">02/2018 – 3/2018</td>
            <td class="td-second"><b>Internship in UX Research at <a tabindex="0" target="_blank"
                                                                     href="https://www.celonis.com/">Celonis</a>,
                Munich</b>
                <ul class="ul-bullets">
                    <li>Development of a model to improve the UX</li>
                    <li>Setting up a web analytics solution to track the experience via 25 user metrics and
                        -dimensions
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td id="celonis-ux-design" class="td-first">08/2017 – 10/2017</td>
            <td class="td-second"><b>Internship in UX Design at <a tabindex="0" target="_blank"
                                                                   href="https://www.celonis.com/">Celonis</a>,
                Munich</b>
                <ul class="ul-bullets">
                    <li>Development of a model to improve the UX</li>
                    <li>Setting up a web analytics solution to track the experience via 25 user metrics and
                        -dimensions
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</section>

<!-- 2. Academic experience -->
<section id="academic">
    <h2>Academic experiences</h2>
    <table>
        <tr>
            <td class="td-first">10/2017 – present</td>
            <td class="td-second"><b><a tabindex="0" target="_blank"
                                        href="https://informationsdesign.hdm-stuttgart.de/">Information Design</a>,
                Stuttgart Media University</b>
                <ul class="ul-bullets">
                    <li>Desired degree: Bachelor of Arts</li>
                    <li>Semester representative (voluntary)</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="td-first">03/2019 – 06/2019</td>
            <td class="td-second"><b><a tabindex="0" target="_blank" href="https://www.dongguk.edu/mbs/en/">Semester
                abroad</a> during studies at the Stuttgart Media University, Dongguk University, Seoul</b>
            </td>
        </tr>
        <tr>
            <td class="td-first">08/2011 – 09/2016</td>
            <td class="td-second"><b><a tabindex="0" target="_blank"
                                        href="https://www.wiwi.uni-augsburg.de/de/studium/studiengaenge/bac_bwl/">Business
                Administration</a>, University of Augsburg</b>
                <ul class="ul-bullets">
                    <li>Academic degree: Bachelor of Science</li>
                    <li>Study focus: Marketing</li>
                    <li>Bachelor thesis: determinants of consumer behaviour in mobile channels</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="td-first">08/2015 – 12/2015</td>
            <td class="td-second"><b><a tabindex="0" target="_blank"
                                        href="http://bizeng.hufs.ac.kr/undergraduate_introduction">Semester
                abroad</a> during studies at the University of Augsburg, Hankuk University of Foreign Studies, Seoul</b>
            </td>
        </tr>
    </table>
</section>

<!-- 3. Other qualifications -->
<section id="others">
    <h2>Other qualifications</h2>
    <table>
        <tr>
            <td class="td-first">Language Skills</td>
            <td class="td-second">
                <ul class="ul-bullets">
                    <li>German - native speaker</li>
                    <li>English - <a tabindex="0" target="_blank" href="https://www.ets.org/toefl/ibt/about">TOEFL
                        iBT score</a>: 102 / 120
                    </li>
                    <li>Japanese - basic communication skills</li>
                    <li>Korean - basic communication skills</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="td-first">Hobbies</td>
            <td class="td-second">
                <ul class="ul-bullets">
                    <li>Cooking</li>
                    <li>Fitness training</li>
                    <li>Drawing</li>
                    <li>Detective novels</li>
                </ul>
            </td>
        </tr>
    </table>
</section>
