<!-- introduction -->
<div fxLayout="row" fxLayoutAlign="space-around center">
    <div>
        <h1>Hi!</h1>
        <h2>I'm Johannes</h2>
        <h3>Developer for Business Applications.</h3>
        <p><i>My goal is to develop software that enables users to solve complex challenges.</i></p>
        <button mat-raised-button color="primary" routerLink="contact">WORK WITH ME</button>
    </div>

    <div>
        <img id="introductionimg" src="../../../assets/profile-picture.png" alt="Profile picture of Johannes Ströbele"
             height="180" width="180">
    </div>
</div>

<!-- Coding Projects: Retro Calculator -->
<div style="text-align: center;">
    <h2>Coding Projects</h2>
    <h3>Example: Retro Calculator</h3>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
    <div style="padding: 12px;">
        <img mat-card-image routerLink="projects" class="img-project"
             src="../../../assets/sample-project.png"
             alt="Header design for the Sketch Meetup Stuttgart">
    </div>
    <div>
        <p>I programmed a simple retro-styled calculator build with Angular. The goal was to get
            more familiar with programming basics like functions and operators in Angular.</p>
        <button mat-raised-button color="primary" routerLink="projects">View Coding Projects</button>
    </div>
</div>


<!-- Software Designs StagePirate -->
<div>
    <h2>Software Designs</h2>
    <h3>Example: StagePirate</h3>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
    <div style="padding: 12px;">
        <img mat-card-image routerLink="projects" class="img-project"
             src="../../../assets/sample-project.png"
             alt="Application software design for the presentation improvement startup StagePirate"
             height="384" width="512">
    </div>
    <div>
        <p class="gridtext">For the startup StagePirate, I created an application software design. The
            application
            analyses speeches and gives suggestions for improvement. I focused on a minimalstic, light blue
            design
            that makes the software easy to understand for users.</p>
        <button mat-raised-button color="primary" routerLink="projects">View Coding Projects</button>
    </div>
</div>
