@import '../../../variables.scss';

@media (max-width: 767.98px) {
  .section-recommendations .container-with-elements > * > img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .section-recommendations .container-with-elements > * > h4 {
    text-align: center;
  }
  .section-recommendations .container-with-elements > * > p {
    text-align: justify;
  }
  .section-recommendations .container-with-elements > * {
    background: map-get($custom-palette, background);
  }
  .view-mobile {
    display: block;
  }
  .view-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .section-recommendations .container-with-elements > * > img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .view-mobile {
    display: none;
  }
  .view-desktop {
    display: block;
  }
}

.projects-section h3 {
  font-family: "Roboto Mono", monospace, Roboto, "Helvetica Neue", sans-serif !important;
  color: map-get($custom-palette, primary) !important;
}

.section-recommendations .container-with-elements {
  align-items: flex-start !important;
}

.section-company .runningtext-maxwidth-centered {
  text-align: center !important;
}

.section-recommendations .container-with-elements h3, h4 {
  text-align: center;
}

.section-recommendations .container-with-elements div {
  width: 82%;
  padding-bottom: 36px;
}
