@import '../../../variables';

.text-warning {
  color: map-get($custom-palette, primary);
}

.container-columns > div:first-child {
  margin-right: 24px;
}

.container-columns > div > div > * {
  display: inline-block;
}

.container-columns .mat-icon {
  color: map-get($custom-palette, background-lightest) !important;
}

h3 {
  font-family: "Roboto Mono", monospace, Roboto, "Helvetica Neue", sans-serif !important;
}

.repo-link > .mat-icon {
  color: map-get($custom-palette, primary) !important;
}

@media (max-width: 575.98px) {
  .container-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
  }
  .mat-card {
    padding: 42px 18px 30px 18px;
  }
  .container-columns > div {
    margin-bottom: 12px;
  }
}


@media (max-width: 767.98px) {
  .icon-projects {
    display: none;
  }
  .charts {
    height: auto;
  }
}

@media (min-width: 576px) {
  .container-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
  }
  .container-columns > div {
    width: 100%;
  }
  .container-columns > div:nth-child(2) {
    padding-left: 30px !important;
  }
  .mat-card {
    padding: 60px 24px 42px 24px;
  }
}

@media (min-width: 768px) {
  .analysis {
    max-width: 768px;
    margin: 0 auto;
  }
  .charts {
    height: 300px !important;
  }

}
