@import "../../../variables";

.nav, .nav-bg {
  height: 64px;
}

.nav {
  position: relative;
  top: -2px;
  max-width: 959.89px !important;
  margin: 0 auto;
  padding: 0 12px;
  background: map-get($custom-palette, background);
}

.nav-sticky {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1; /* Ensure that your app's content doesn't overlap the toolbar */
  background: map-get($custom-palette, background);
}

.nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  background: map-get($custom-palette, background);
}

.mat-toolbar-row {
  padding: 0 !important;
}

.logo {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bolder;
  cursor: pointer;
  padding-top: 3px;
}

.logo img {
  position: relative;
  top: -3px;
  padding-right: 6px;
}

.logo > span {
  font-size: 18px !important;
  color: white;
  padding: 0 12px;
}

.logo > span:hover, .view-desktop > span:hover {
  color: map-get($custom-palette, primary-light) !important;
}

.is-active {
  color: map-get($custom-palette, primary) !important;
}

.hamburger {
  top: 6px;
  position: relative;
}

.button-cv {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  letter-spacing: 2px;
  padding: 3px 12px !important;
}


// MOBILE
@media (max-width: 767.98px) {
  .view-mobile {
    background: map-get($custom-palette, background) !important;
    display: block !important;
    cursor: pointer;
  }
  .view-mobile > .mat-toolbar-row {
    font-weight: normal;
    padding-left: 36px !important;
  }
  .view-mobile > .mat-toolbar-row:hover {
    color: map-get($custom-palette, primary-light);
  }
  .view-mobile > button {
    display: flex !important;
    justify-content: center;
  }
  .mat-icon-button {
    height: auto !important;
    width: 42px;
  }
  .view-desktop {
    display: none !important;
  }
}

// DESKTOP
@media (min-width: 768px) {
  .view-desktop {
    display: block !important;
    cursor: pointer;
  }
  .view-desktop > span {
    padding: 18px;
    font-weight: 400 !important;
    font-size: 16px !important;
  }
  .view-mobile {
    display: none !important;
  }
}
