@import '../../../variables';

.nav {
  position: relative;
  color: #e1e1e1 !important;
  top: -2px;
  max-width: 959.89px !important;
  margin: 0 auto;
  padding: 0 12px;
  background: map-get($custom-palette, background);
}

.nav-sticky {
  position: sticky;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 100; /* Ensure that your app's content doesn't overlap the toolbar */
  background: map-get($custom-palette, background);
}

.nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  background: map-get($custom-palette, background);
}

.mat-toolbar-row {
  padding: 0 !important;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bolder;
  cursor: pointer;
}

.logo img {
  display: inline-block;
}

.logo > span {
  display: inline-block;
  font-size: 18px !important;
  color: white;
  margin-top: 5px;
  padding-left: 9px;
}

.logo > span:hover, .view-desktop > span:hover {
  color: map-get($custom-palette, primary-light) !important;
}

.is-active {
  color: map-get($custom-palette, primary) !important;
}

.hamburger {
  position: relative;
  color: white !important;
}

.button-cv {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  letter-spacing: 2px;
  padding: 3px 12px !important;
}


// MOBILE
@media (max-width: 767.98px) {
  .nav, .nav-bg {
    height: 60px;
  }
  .view-mobile {
    background: map-get($custom-palette, background) !important;
    color: white !important;
    display: block !important;
    cursor: pointer;
  }
  .view-mobile > .mat-toolbar-row {
    font-weight: normal;
    padding-left: 36px !important;
  }
  .view-mobile > .mat-toolbar-row:hover {
    color: map-get($custom-palette, primary-light);
  }
  .mat-icon-button {
    height: auto !important;
    width: 42px;
  }
  .view-desktop {
    display: none !important;
  }
  .hamburger {
    top: 3px;
  }
}

// DESKTOP
@media (min-width: 768px) {
  .nav, .nav-bg {
    height: 64px;
  }
  .view-desktop {
    display: block !important;
    cursor: pointer;
  }
  .view-desktop > span {
    padding: 18px;
    font-weight: 400 !important;
    font-size: 16px !important;
  }
  .view-mobile {
    display: none !important;
  }
  .hamburger {
    top: 6px;
  }
}
