<!-- Introduction -->
<div class="hero-section">
  <section>
    <div class="container-with-elements">
      <div class="container-text-img">
        <h1>Welcome!</h1>
        <h2>I'm a full stack developer</h2>
        <p>"Turning code into customer value – digital experiences that inspire."</p>
        <p class="runningtext-maxwidth" style="text-align: left;">While I work on both frontend, design and backend, my focus is
          on the frontend. On this website, you find my personal projects,
          my recommendations, as well as my study and work experiences.</p>
        <button class="button-hero-desktop" color="primary" mat-raised-button routerLink="contact">
          Get In Touch
        </button>
      </div>
      <img alt="Profile picture of Johannes Ströbele" height="300"
           src="assets/profile-picture.png">
    </div>
    <button class="button-hero-mobile" color="primary" mat-raised-button routerLink="contact">
      Get In Touch
    </button>
  </section>
</div>

<!-- Projects -->
<section class="projects-section">
  <h2 style="text-align: center;">Recent Projects</h2>
  <p class="runningtext-maxwidth-centered" style="  text-align: center;">These are three of the projects I developed
    recently.
    You can see all of them in the <a routerLink="projects">projects section</a> or on my <a
      href="https://github.com/johannesstroebele91/">GitHub profile</a>.</p>

  <h3 class="view-mobile" style="text-align: center;">GitHub HR</h3>
  <div class="container-with-elements" style="margin-bottom:20px;">
    <div class="img-projects">
      <img (click)="openWebsite('https://github.com/johannesstroebele91/GitHub-HR')"
           alt="Link to GitHub page for GitHub-HR"
           src="assets/project-githubhr.png">

    </div>
    <div class="project-description">
      <h3 class="view-desktop">GitHub HR</h3>
      <p>Helps human resources with the technical screening of software
        developers. They can find out which coding projects and stacks the developers used.
        Tech stack: Angular, chart.js, TypeScript, Firebase, Vercel.</p>
      <div class="project-buttons-position">
        <button (click)="openWebsite('https://github.com/johannesstroebele91/GitHub-HR');"
                color="primary" mat-raised-button>
          Source Code
        </button>
        <button (click)="openWebsite('https://github-hr.vercel.app');"
                color="primary" mat-raised-button>
          Visit App
        </button>
      </div>
    </div>
  </div>

  <h3 class="view-mobile" style="text-align: center;">Amara Task Manager</h3>
  <div class="container-with-elements">
    <div class="img-projects">
      <img
        (click)="openWebsite('https://github.com/johannesstroebele91/Amara/')"
        alt="Link to GitHub page for the amara task manager web app"
        src="assets/project-amara.png">
    </div>
    <div class="project-description">
      <h3 class="view-desktop">Amara Task Manager</h3>
      <p>Lets you effortlessly track your tasks, stay organized, and boost motivation by earning points through task completion.
        Tech stack: Angular, Material, TypeScript, Firebase, Vercel.</p>
      <div class="project-buttons-position">
        <button
          (click)="openWebsite('https://github.com/johannesstroebele91/Amara/');"
          color="primary"
          mat-raised-button>Source Code
        </button>
        <button (click)="openWebsite('https://amara-4.vercel.app/');"
                color="primary" mat-raised-button>
          Visit App
        </button>
      </div>
    </div>
  </div>

  <h3 class="view-mobile" style="text-align: center;">Upwards Habit Tracker</h3>
  <div class="container-with-elements">
    <div class="img-projects">
      <img
        (click)="openWebsite('https://github.com/johannesstroebele91/upwards/')"
        alt="Link to GitHub page for the upwards web app"
        src="assets/project-upwards.png">
    </div>
    <div class="project-description">
      <h3 class="view-desktop">Upwards Habit Tracker</h3>
      <p>It's your go-to tool for tracking your habits effectively. This intuitive application empowers you to seamlessly
        record your progress for existing habits or add new ones.
        Tech stack: React, Antd, TypeScript, MongoDB, Next.js, Vercel.</p>
      <div class="project-buttons-position">
        <button
          (click)="openWebsite('https://github.com/johannesstroebele91/upwards/');"
          color="primary"
          mat-raised-button>Source Code
        </button>
        <button (click)="openWebsite('https://upwardsup.vercel.app/');"
                color="primary" mat-raised-button>
          Visit App
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Company Experiences -->
<section class="section-company">
  <h2 style="text-align: center;">Previous Companies</h2>
  <p class="runningtext-maxwidth-centered" style="text-align: center;">During the last years, I gained hands-on
    experience at the following innovative and international companies, among others.
    Details can be seen on the <a (click)="navToAboutPageCompanySection()">about page</a>.
  </p>
  <div class="container-with-elements">
    <div>
      <a href="https://www.celonis.com/">Celonis</a>
      <p>Worked on the process mining application for analyzing, and optimizing highly complex business processes</p>
    </div>
    <div>
      <a href="https://www.mercedes-benz-techinnovation.com/de/">Mercedes-Benz Tech Innovation</a>
      <p>Developed an offer calculation application to rent vehicles (former known as DaimlerTSS)</p>
    </div>
    <div>
      <a href="https://www.sulzer.de/">Sulzer</a>
      <p>Developed a vehicle analytics application for a leading player in the automotive industry</p>
    </div>
  </div>
</section>
