@import '../../../../variables';

.mat-card {
  padding-top: 24px;
  padding-bottom: 36px;
  margin-bottom: 30px;
}

.projects-section h3 {
  font-family: "Roboto Mono", monospace, Roboto, "Helvetica Neue", sans-serif !important;
  color: map-get($custom-palette, primary) !important;
}

.section-company .runningtext-maxwidth-centered {
  text-align: center !important;
}

.section-recommendations .container-with-elements h3, h4 {
  text-align: center;
}

.section-recommendations .container-with-elements div {
  width: 82%;
  padding-bottom: 36px;
}

.section-company > .container-with-elements {
  margin: 30px 0;
}

.section-company > .container-with-elements > div {
  background: map-get($custom-palette, background-dark);
  border-radius: 6px;
  text-align: center;
  flex: 1 1 0;
}

.section-company > .container-with-elements > div > a {
  display: block;
  font-size: 42px !important;
  line-height: 1.2em !important;
  margin-top: 1.2em !important;
  margin-bottom: 0.3em !important;
  font-weight: bolder !important;
}

.project-buttons-position {
  margin-top: 30px;
}

.project-description > p {
  text-align: center;
}


@media (max-width: 767.98px) {
  .section-company > .container-with-elements > div {
    padding: 12px 24px;
  }
  .section-recommendations .container-with-elements > * > img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .section-recommendations .container-with-elements > * > h4 {
    text-align: center;
  }
  .section-recommendations .container-with-elements > * > p {
    text-align: justify;
  }
  .projects-section .container-with-elements > * {
    background: map-get($custom-palette, background);
  }
  .view-mobile {
    display: block;
  }
  .view-desktop {
    display: none;
  }
  .project-buttons-position {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
  }
  .project-description {
    max-width: 630px;
  }
}

@media (min-width: 768px) {
  .section-company > .container-with-elements > div {
    padding: 0 24px 36px 24px;
  }
  .section-recommendations .container-with-elements > * > img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .view-mobile {
    display: none;
  }
  .view-desktop {
    display: block;
  }
  .project-buttons-position {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
  }
  .projects-section .container-with-elements {
    text-align: center;
  }
  .section-company > .container-with-elements {
    justify-content: space-around;
  }
  .project-description {
    max-width: 480px;
  }
}
