@import "variables";
// General
html, body, app-root {
  height: 100%;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: map-get($custom-palette, background) !important;
}

section {
  max-width: 959.89px !important;
  margin: 0 auto !important;;
  padding-top: 42px;
  padding-bottom: 66px;
}

.mat-card {
  border-radius: 12px;
  background: map-get($custom-palette, background-dark);
}

.hero-section {
  background: map-get($custom-palette, background-light);
}

.img-project {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.runningtext-maxwidth, .runningtext-maxwidth-centered {
  line-height: 1.6em !important;
  font-size: 15px !important;
  max-width: 600px;
  text-align: justify;
  margin: 0 auto !important;
}

.runningtext-maxwidth-centered {
  margin: 0 auto !important;
}

// Text
h1 {
  font-size: 42px !important;
  line-height: 1.2em !important;
  margin-top: 1.2em !important;
  margin-bottom: 0.9em !important;
  font-weight: bolder !important;
  color: #e1e1e1 !important;
}

h2 {
  font-size: 30px !important;
  line-height: 1.46808511em !important;
  margin-top: 1.2em !important;
  margin-bottom: 0.75em !important;
  font-weight: 500 !important;
  color: #e1e1e1 !important;
}

h3 {
  font-size: 24px !important;
  line-height: 1.5862069em !important;
  font-weight: 500 !important;
  margin-top: 0.3em !important;
  margin-bottom: 0.6em !important;
  color: #e1e1e1 !important;
}

h4, h5 {
  font-size: 18px !important;
  line-height: 1.27777778em !important;
  font-weight: 400 !important;
  margin-top: 0.3em !important;
  margin-bottom: 0.25em !important;
  color: #e1e1e1 !important;
}

p, pre, table, blockquote, label, span, input {
  font-size: 15px !important;
  line-height: 1.6em !important;
  margin-top: 0;
  margin-bottom: 0.9em;
  font-weight: 400;
}

i, strong, em, small, code {
  line-height: 1.6em !important;
  font-size: 1em !important;
}

a {
  color: map-get($custom-palette, primary);
  font-size: 15px !important;
  line-height: 1.6em !important;
  margin-top: 0;
  font-weight: 400;
}

a:hover {
  color: map-get($custom-palette, primary-light);
}

a:active {
  color: white;
}

ul ul, ol ol, ul ol, ol ul {
  line-height: 1.6em !important;
  font-size: 1.1em !important;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none !important;
  padding: 0;
}

li {
  margin-bottom: 6px;
}

b {
  font-size: 1em !important;
  line-height: 0;
  font-weight: 500;
}


hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

button {
  font-family: "Roboto Mono", monospace, Roboto, "Helvetica Neue", sans-serif !important;
  padding: 12px 30px !important;
  display: inline-block !important;
}

.mat-stroked-button {
  border: 1px solid map-get($custom-palette, primary) !important;
}

.mat-stroked-button:hover {
  color: #2a0703;
  background: map-get($custom-palette, primary) !important;
}

*:focus {
  outline: none !important;
}

.mat-raised-button:hover {
  color: white;
  background: map-get($custom-palette, background-dark) !important;
  -webkit-box-shadow: inset 0 0 0 2px map-get($custom-palette, primary) !important;
  -moz-box-shadow: inset 0 0 0 2px map-get($custom-palette, primary) !important;
  box-shadow: inset 0 0 0 2px map-get($custom-palette, primary) !important;
}

section .mat-icon {
  position: relative;
  top: 6px;
  margin-right: 9px;
  color: map-get($custom-palette, background-lightest) !important;
}

.anchor-links li {
  color: white;
  text-decoration: underline;
}

.anchor-links li:hover {
  color: white;
}

.container-with-elements > * > h4 {
  color: map-get($custom-palette, primary) !important;
}

@media (max-width: 575.98px) {
  .img-projects > img {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .img-projects > img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
  }
}

// RESPONSIVE
@media (max-width: 767.98px) {
  .container-with-elements > * {
    display: block;
    margin: 0 auto 12px auto;
    padding: 12px 24px;
    border-radius: 6px;
  }
  .container-with-images > * {
    display: block;
    margin: 18px auto !important;
  }
  .button-hero-mobile {
    display: block !important;
    margin: 18px 0;
    width: 100%;
  }
  .button-hero-desktop {
    display: none !important;
  }
  .img-recommendation {
    width: 48% !important;
  }
}

@media (min-width: 768px) {
  .container-with-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  }
  .container-with-elements > * {
    margin: 12px !important;
  }
  .hero-section .container-with-elements {
    align-items: center;
  }
  .container-text-img {
    width: 50%;
  }
  .button-hero-mobile {
    display: none !important;
  }
  .button-hero-desktop {
    display: block !important;
  }
  .img-projects > img {
    width: 390px !important;
    height: auto !important;
  }
  .img-recommendation {
    width: 80% !important;
    margin: 0 auto;
  }
}

@media (max-width: 1170px) {
  section {
    padding-right: 3%;
    padding-left: 3%;
  }
}
