@import '~@angular/material/theming.scss';
@import 'variables.scss';

@include mat-core();

$primary: mat-palette($custom-palette, primary);
$accent: mat-palette($custom-palette, accent);
$background-color: map_get($custom-palette, background);

$dark-theme: mat-dark-theme($primary, $accent);

// Insert custom background color
$background: map-get($dark-theme, background);
$background: map_merge($background, (background: $background-color));
$dark-theme: map_merge($dark-theme, (background: $background));

@include angular-material-theme($dark-theme);

/* STRUCTURE
  1. General
  2. Interactive Elements
  3. Text
 */

// General
html, body, app-root {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: map-get($custom-palette, primary);
}

.router-container {
  padding: 18px;
  margin: 0 auto;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.mat-card {
  background: #233045 !important;
}

// TODO: Responsive img https://www.w3schools.com/howto/howto_css_image_responsive.asp
.img-project {
  max-width: 100%;
  height: auto;
}

.running-text-width {
  max-width: 600px;
  margin-bottom: 36px;
}

@media (max-width: 767.98px) {
  .router-container {
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .router-container {
    max-width: 720px;
    margin: 0 auto;
  }
}

// Text
h1, .h1 {
  font-size: 3em !important;
  line-height: 1.2em !important;
  margin-top: 0.6em !important;
  margin-bottom: 0.45em !important;
  font-weight: bolder !important;
  color: #e1e1e1 !important;

}

h2, .h2 {
  font-size: 2.61111111em !important;
  line-height: 1.46808511em !important;
  margin-top: 0.45em !important;
  margin-bottom: 0.3em !important;
  font-weight: bolder !important;
  color: #e1e1e1 !important;
}

h3, .h3 {
  font-size: 1.61111111em !important;
  line-height: 1.5862069em !important;
  font-weight: bold !important;
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
  color: #e1e1e1 !important;
}

h4, .h4, h5, .h5 {
  font-size: 1.1em !important;
  line-height: 1.27777778em !important;
  font-weight: 500 !important;
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
  color: #e1e1e1 !important;
}

p, ul, ol, pre, table, blockquote, label, span {
  line-height: 1.6em !important;
  font-size: 1.1em !important;
  margin-top: 0;
  margin-bottom: 0.9em;
  font-weight: 400;
}

ul {
  list-style-type: none !important;
  padding: 0;
}

input {
  font-size: 1.1em !important;
  font-weight: 400;
}

button {
  font-family: "Roboto Mono", monospace, Roboto, "Helvetica Neue", sans-serif !important;
  padding: 12px 30px !important;
}

.mat-stroked-button {
  border: 1px solid map-get($custom-palette, primary) !important;
}

b {
  font-size: 1em !important;
  line-height: 0;
  font-weight: 500;
}

ul ul, ol ol, ul ol, ol ul {
  line-height: 1.6em !important;
  font-size: 1.1em !important;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  margin-bottom: 6px;
}

hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

a, i, strong, em, small, code {
  font-size: 1.1em !important;
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
