@use '@angular/material' as mat;

@import 'variables';

@include mat.core();

$primary: mat.define-palette($custom-palette, primary);
$accent: mat.define-palette($custom-palette, accent);
$background-color: mat.define-palette($custom-palette, background);

$custom-dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    foreground: $primary,
    background: $accent,
  ),
));

$palette-color: map-get($custom-dark-theme, color);
$background: map-get($palette-color, background);

$background: map_merge($background, (background: red));
$palette-color: map_merge($palette-color, (background: $background));
$custom-dark-theme: map_merge($custom-palette, (color: $palette-color));

@include mat.all-component-themes($custom-dark-theme);
