// Import material theming functions
@import '~@angular/material/theming';

$custom-palette: (
        primary : #62ecc8, // alt. ff6e86
        primary-light : #adfcd8, //alt. ffc4ce
        // accent: #171f3e,
        background: #171f3e,
        background-dark: #1e2d4c,
        background-light: #273c75, // 273c75
        background-lightest: #d3e6f9,
        contrast: (
                primary : #082928,
                accent: #2a0703,
                background: #4f99f5
        )
);
